.main
{
   background:radial-gradient(rgb(19, 207, 173), rgb(0, 255, 225), rgb(36, 157, 222));
}
.one
{
    text-align:center;
    font-weight:bolder;
    font-style:normal;
}
.sub
{
    background:radial-gradient(rgb(19, 207, 173), rgb(0, 255, 225), rgb(36, 157, 222));
}
.two
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
.three
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
.four
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
.five
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
.six
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}
.seven
{
    text-align: left;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
}